body {
  font-family: 'Lato', sans-serif;
}

.container {
  max-width: 1000px;
  margin: 0 auto;
  padding: 10px;
}

h2 {
  font-size: 26px;
  margin: 20px 0;
  text-align: center;
}

.responsive-table {
  width: 100%;
  margin: 0;
  padding: 0;
  list-style: none;
}

.table-header, .table-row {
  display: flex;
  justify-content: space-between;
  padding: 15px 20px;
  background-color: #f8f8f8;
  margin-bottom: 15px;
  border-radius: 5px;
}

.table-header {
  background-color: #95A5A6;
  color: #fff;
  text-transform: uppercase;
  font-size: 12px;
  letter-spacing: 0.03em;
}

.table-row {
  background-color: #ffffff;
  box-shadow: 0 0 9px rgba(0, 0, 0, 0.1);
}

.table-row div {
  flex-basis: 16.66%; /* 100% divided by 6 columns */
}

.table-row div[data-label]::before {
  content: attr(data-label);
  font-weight: bold;
  display: none;
  margin-right: 10px;
}

@media (max-width: 767px) {
  .table-header {
    display: none;
  }

  .table-row {
    flex-direction: column;
    padding: 15px 10px;
  }

  .table-row div {
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
  }

  .table-row div[data-label]::before {
    display: block;
  }
}

.btn {
  padding: 5px 10px;
  font-size: 14px;
  border-radius: 3px;
  cursor: pointer;
}

.btn-primary {
  background-color: #007bff;
  color: white;
  border: none;
  transition: background-color 0.3s;
}

.btn-primary:hover {
  background-color: #0056b3;
}
