<!-- <h1>{{"Hello"}}</h1>
<h1>{{title}}</h1>

<app-navbar></app-navbar> -->
<!-- <img [src]="imageUrl" alt="">
<img src="{{imageUrl}}" alt=""> -->

<!-- <button [class.active]="isActive" >Click Me</button> -->

<!-- <input type="text" (keyup.enter)="keyUp()" > -->
 <!-- <input type="text" (keyup.enter)="keyUp(user)" #user > -->
  <!-- <input type="text" [value]="username" > -->
  <!-- <input type="text" #username (keyup.enter)="keyUp(username)" > -->
   <!-- <input type="text" [(ngModel)]="userName" >
   {{userName}} -->

   <!-- <input type="text" [value]="txtValue" > -->

   <!-- @if (isLogin) {
    <h1>{{username}}</h1>
   } -->

   <!-- <ng-template #callToAction>
    <p>Condition is true!</p>
  </ng-template>

  <div [ngTemplateOutlet]="callToAction">
    <h2>Hello</h2>
  </div> -->

  <!-- {{users [1]}} -->

  <!-- <h3 *ngFor="let user of users" >{{user}}</h3> -->

  <!-- @for (user of users; track user) {
    <h1>{{user}}</h1>
  } -->

  <!-- @for (userobj of userObj; track userobj) {
    <h1>{{userobj.name}} <button (click)="onDelete(userobj)" >Delete</button></h1>
  } -->

  <!-- <input type="text" #txtname >
  <button (click)="show(txtname.value)" >Show</button>
  {{name}} -->

<!-- <app-navbar></app-navbar> -->
<router-outlet></router-outlet>
