<div class="container">
  <h2>Brand Data</h2>
  
  <ul class="responsive-table" >
    <li class="table-header">
      <div class="col col-1">Brand ID</div>
      <div class="col col-1">Brand Name</div>
      <div class="col col-1">Author ID</div>
      <div class="col col-1">Created_At</div>
      <div class="col col-1">Updated_At</div>
    </li>
    <li class="table-row" *ngFor="let brand of brandData" style="padding: 80px;" >
      <div class="col col-1" >{{ brand.id }}</div>
      <div class="col col-1" >{{ brand.brandName }}</div>
      <div class="col col-1" >{{ brand.authorId }}</div>
      <div class="col col-1" >{{ brand.created_at }}</div>
      <div class="col col-1" >{{ brand.updated_at }}</div>
      <!-- <div class="col col-1" >{{ brand.updated_at }}</div> -->
    </li>
  </ul>
</div>
