<!-- 

<div class="login-root">
  <div class="box-root flex-flex flex-direction--column" style="flex-grow: 1;">
    <div class="login-container">
      <div class="box-root padding-top--24 flex-flex flex-direction--column">
        <div class="box-root padding-top--48 padding-bottom--24 flex-flex flex-justifyContent--center">
          <h1><a href="http://blog.stackfindover.com/" rel="dofollow">Stackfindover</a></h1>
        </div>
        <div class="formbg-outer">
          <div class="formbg">
            <div class="formbg-inner padding-horizontal--48">
              <span class="padding-bottom--15">Insert Card Data</span>
              <form id="stripe-login" class="form row" [formGroup]="form">


                <div class="form-column col-6">
                  <div class="field padding-bottom--24">
                    <label for="cardId">CardId</label>
                    <input type="text" formControlName="cardID">
                  </div>
                  <div class="field padding-bottom--24">
                    <label for="customerId">CustomerId</label>
                    <input type="text" formControlName="customerId">
                  </div>
                  <div class="field padding-bottom--24">
                    <label for="cardNumber">Card Number</label>
                    <input type="text" formControlName="cardNumber">
                  </div>
                  <div class="field padding-bottom--24">
                    <label for="cardType">Card Type</label>
                    <input type="text" formControlName="cardType">
                  </div>
                  
                </div>

                <div class="form-column col-6">
                  <div class="field padding-bottom--24">
                    <label for="totalLimit">Total Limit</label>
                    <input type="text" formControlName="totalLitmit">
                  </div>
                  <div class="field padding-bottom--24">
                    <label for="amountUsed">Amount Used</label>
                    <input type="text" formControlName="amountUsed">
                  </div>
                  <div class="field padding-bottom--24">
                    <label for="availableAmount">Available Amount</label>
                    <input type="text" formControlName="availableAmount">
                  </div>
                  <div class="field padding-bottom--24">
                    <label for="createDate">Create Date</label>
                    <input type="datetime-local" formControlName="createDate">
                  </div>
                </div>

                <div class="field padding-bottom--24 full-width">
                  <input type="submit" (click)="btnSave()" name="submit" style="color: blue;" value="Send">
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div> -->
