

<div class="login-root">
  <div class="box-root flex-flex flex-direction--column" style="flex-grow: 1;">
    <div class="login-container">
      <div class="box-root padding-top--24 flex-flex flex-direction--column">
        <div class="box-root padding-top--48 padding-bottom--24 flex-flex flex-justifyContent--center">
          <h1><a href="http://blog.stackfindover.com/" rel="dofollow">Brand</a></h1>
        </div>
        <div class="formbg-outer">
          <div class="formbg">
            <div class="formbg-inner padding-horizontal--48">
              <span class="padding-bottom--15" style="text-align: center;" >Insert Brand</span>
              <form id="stripe-login" class="form row" [formGroup]="form">

                <div class="form-column col-12">
                  <div class="field padding-bottom--24">
                    <!-- <label for="totalLimit">Brand Name</label> -->
                    <input type="text" placeholder="Brand Name" formControlName="brandName">
                  </div>
                </div>
                <div class="field padding-bottom--24 full-width">
                  <input type="submit" (click)="btnSave()" name="submit" style="color: blue;" value="Create">
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
